#header header h1 {
    font-size: 100px;
    color: black;
    font-weight: bolder;
}

.links {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.links:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: white;
}